:root {
  --black: #303030;
}

body {
  background-color: var(--black);
}

@font-face {
  font-family: "Recursive", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Poppins&family=Recursive&display=swap");
}

@font-face {
  font-family: "Poppins", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
}

h1,
p {
  font-family: Recursive;
  color: white;
}
.text {
  font-family: "Poppins", sans-serif;
}
