:root {
  --black: #303030;
  --gray: #d8d9db;
  --white: #fff;
  --color-1: rgba(57, 180, 230, 1);
  --color-2: rgba(234, 115, 167, 1);
}

html {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to right, var(--color-1), var(--color-2));
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--black);
  max-width: 1056px;
  padding: 2rem;
  border-color: 1px solid white;
}

@font-face {
  font-family: "Recursive", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Poppins&family=Recursive&display=swap");
}

@font-face {
  font-family: "Poppins", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
}

body {
  margin: 1.5rem;
}

a,
h1,
h2,
li,
p,
label {
  font-family: Recursive;
  color: white;
  list-style-type: none;
}

h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
h1 {
  margin-top: 4rem;
  margin-bottom: 0;
}

.project-tittle,
.header-contact-form,
.logo,
h1,
h2 {
  background-image: linear-gradient(to right, var(--color-1), var(--color-2));
  -webkit-background-clip: text;
  color: transparent;
  font-size: 36px;
}

.projects-wrapper {
  display: flex;
  flex-direction: column;
}

.project-tittle {
  font-size: 24px;
  margin-bottom: 0.5rem;
  grid-row: 1;
}

img {
  max-width: 100%;
  height: 290px;
  border-radius: 20px;
}

a {
  color: var(--black);
}

.logo {
  font-size: 62px;
  max-width: 100vp;
}
.text {
  font-family: "Poppins", sans-serif;
  color: var(--black);
  font-size: 16px;
  margin: 1rem;
  padding-bottom: 2rem;
}

.under-logo-text {
  color: var(--white);
  font-size: 16px;
  line-height: 24px;
  border: solid 1px #fff;
  padding: 1rem;
  margin: 0;
}

.project {
  background-color: var(--gray);
  border-radius: 20px;
  max-width: 320px;
  min-height: 784px;
  margin-bottom: 2rem;
  box-shadow: 0px 4px 4px 0px #00000040;
  align-self: center;
}

.github-link-sett {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  margin: 1rem;
  margin-top: 0rem;
}
@keyframes beat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.github-logo {
  max-width: 100%;
  height: 36px;
  animation: beat 2s infinite;
}

.about-me-wrapper {
  display: flex;
  flex-direction: column;
  justify-items: center;
}
.olga {
  max-width: 320px;
  height: 400px;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 0px;
  border: 1px solid white;
  object-fit: cover;
  margin-bottom: 2rem;
  justify-self: center;
  align-self: center;
}

@media screen and (min-width: 1052px) {
  .projects-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .about-me-wrapper {
    max-width: 1052px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.skills-wrapper {
  border: 1px solid white;
  padding: 1rem;
  max-width: 320px;
  line-height: 2rem;
  align-self: center;
}

.language-wrapper,
.tools-wrapper {
  display: flex;
  flex-direction: row;
  gap: 60px;
}

.language-wrapper {
  gap: 40px;
}

.fa-brands,
.adobe-icon {
  font-size: 42px;
  width: 42px;
  height: 42px;
  color: var(--white);
  padding: 0.5rem;
}

.tool-wrapper {
  display: flex;
}

#contact-form {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

input[type="text"],
input[type="email"],
textarea {
  height: 2rem;
}

input[type="submit"] {
  height: 3rem;
  background-color: var(--black);
  border: 1px solid white;
  color: var(--white);
  font-family: Recursive;
  font-size: 18px;
  margin-top: 2rem;
}

.icons-footer {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.copyrights {
  text-align: center;
  font-size: 12px;
}

@media screen and (min-width: 1052px) {
  .projects-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .olga {
    max-width: 120%;
    height: 400px;
  }
}
